# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# Datasets / outputs
data/
datasets/
results/
outputs/
*.csv
*.jsonl
*.mp4
*.avi
*.jpg
*.png

# Model weights
checkpoints/
*.pt
*.pth

# Colab / Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
logs/
*.log

# System / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build / temp
dist/
build/
*.egg-info
